.artistsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  color: aliceblue;
  background-color: black;
}

@media (max-width: 568px) {
  .artistsContainer {
    flex-wrap: column;
  }
}

.artistas__img {
  display: flex;
  /* justify-content: flex-end; */
  width: 25vw;
  border: 3px solid #eec55c;
  border-radius: 10px;
  margin: 0px 10% 0px 10%;
}

@media (max-width: 650px) {
  .artistas__img {
    width: 70vw;
    margin: 0px 10% 10px 10%;
  }
}

.artists_Containder_p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

@media (max-width: 650px) {
  .artists_Containder_p {
    flex-direction: column;
    justify-content: center;
  }
}

.artists_Containder_p_invert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

@media (max-width: 650px) {
  .artists_Containder_p_invert {
    flex-direction: column-reverse;
  }
}

.artists_p {
  display: flex;
  text-align: justify;
  font-size: 2vh;
  width: 50%;
}

@media (max-width: 650px) {
  .artists_p {
    width: 95%;
    font-size: 1.5vh;
  }
}
