@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap");

body {
  height: 100vh;
  margin: 0;
  font-size: 20px;
  font-family: "Noto Sans Math", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
}

.section-1 h2 {
  color: white;
  font-size: 60px;
}

.pimg1,
.pimg2,
.pimg3 {
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("../../../assents/img/artistas/Crewmate.jpg");
  /* background-color: black; */
  background-position: center;
  height: 80%;
}

.pimg2 {
  background-image: url("../../../assents/img/image2.jpg");
  background-position: center;
  min-height: 400px;
}

.pimg3 {
  background-image: url("../../../assents/img/image3.jpg");
  min-height: 400px;
}

.ptext img {
  margin: 0;
  max-width: 500px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section {
  text-align: center;
  padding: 50px 80px;
}
@media (max-width: 568px) {
  .section {
    padding: 20px;
    background-color: black;
  }
}

.section-1 {
  background-color: black;
  color: #666;
}

.section-2 {
  background-color: black;
  color: #ddd;
}

.section-3 {
  background-color: black;
  color: #666;
}

.ptext {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  letter-spacing: 8px;
}

.text-title {
  margin: 0;
  position: absolute;
  margin-top: 25%;
  color: white;
}

/* @media (max-width: 768px) {
  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
} */

@media only screen and (max-width: 800px) {
  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
}

.logo {
  width: 80%;
  background-color: transparent;
}

.boxContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
  background-color: transparent;
}

.boxProduct {
  width: 20%;
  min-width: 300px;
  color: white;
  background-color: transparent;
  margin: 10px;
}

.artistas {
  width: 100%;
  border: 3px solid white;
  border-radius: 10px;
}

.title {
  color: white;
}

.maginLink {
  color: white;
  text-decoration: none;
  background-color: transparent;
}
